@font-face {
    font-family: netflix;
    src: url('../src/assets/fonts/NetflixSans-Regular.otf');
}

@import "tailwindcss";

@theme{
    --font-netflix: netflix, "sans-serif";
}

body{
    background-color: #141414;
    color: white;
}